body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
section{
    display: flex;
}
.one{
    padding-right: 10%;
}
.two{
    text-decoration: none;
    background-color: blueviolet;
    padding: 10px 40px;
    border-radius:5px;
    color: antiquewhite;
    font-weight: 700;
}
.top-semi-circule{
    background-image: url(Images/download-purple-half-semi-circle-png-116652254076qcnl6j7zk\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 5%;
}
.header-container p::before{
  content: ">";
  display: inline-block;
  margin-right: 5px;
}
  